.mobile-wrapper {
    width: 100%;
    min-height: 100vh;
    background: #111;
    /* fondo exterior oscuro igual que figma */
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.mobile-screen {
    width: 360px;
    /* tamaño móvil */
    background: var(--bg);
    /* tu fondo rosado */
    border-radius: 12px;
    min-height: 100vh;
    padding: 16px;
    position: relative;
}